:host {
  ion-content {
    .scroll-content {
      background: var(--color-grey-3);
    }

    ion-list.vehicle-list {
      margin-top: 5px;
    }

    .vehicle-header-vrm-number {
      margin-bottom: 20px;
      margin-top: 15px;
    }

    ion-list-header.list-header {
      min-height: var(--list-header-height-medium);
      ion-label {
        margin-top: 32px;
      }
    }

    ion-list-header {
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-normal);
      letter-spacing: .75px;
      height: 28px;
      padding-left: 20px;
      background: var(--color-grey-3);
      ng-template {
        padding-bottom: 20px;
      }
    }
  }

  ion-list .input-wrapper {
    p:first-of-type {
      word-break: break-word; //Break the VIN
    }
  }
}

ion-toolbar {
  ion-button.confirm-button {
    font-weight: var(--font-weight-bold);
  }

  .ion-padding-start {
    margin-left: 16px;
    margin-top: 3px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
  }
}

.provisional-record-toolbar {
  height: 14px;
  --background: var(--tertiary);
}
