<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                            else showVehicleDetailsTitle"
        >
          Trailer details
        </span>
        <ng-template #showVehicleDetailsTitle>
          Vehicle details
        </ng-template>
      </ng-container>
    </ion-title>
    <ion-buttons slot="end"  *ngIf="testData">
      <ion-button
        class="confirm-button"
        (click)="goToPreparerPage()"
        [ngClass]="{buttonOpacity: changeOpacity}">
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar
    color="tertiary"
    *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL"
  >
    <ion-title class="ion-padding-start">{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding content-background-color-grey">
  <div class="vehicle-header-vrm-number ion-text-capitalize ion-text-center ion-margin-bottom">
    <ng-container
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
      >{{ vehicleData.trailerId }}</ng-container
    >
    <ng-template #isVehicle>{{ this.formattedVrm }}</ng-template>
  </div>

    <ion-list-header class="ion-padding-horizontal">
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, 'trl');
                     else showVehicleSummaryTitle"
        >
          TRAILER SUMMARY
        </span>
        <ng-template #showVehicleSummaryTitle>
          VEHICLE SUMMARY
        </ng-template>
      </ng-container>
    </ion-list-header>
  <ion-list class="vehicle-list">
    <ion-item lines="full">
      <ion-label>
        <ion-text>
          <h2>VIN / Chassis number</h2>
        </ion-text>
      </ion-label>
      <div item-content>
        <p>{{ vehicleData.vin }}</p>
      </div>
    </ion-item>
    <ng-container>
      <ng-container>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <ion-text>
              <h2>Chassis make</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.chassisMake }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <ion-text>
              <h2>Chassis model</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.chassisModel }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <ion-text>
              <h2>Make</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.make }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <ion-text>
              <h2>Model</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.model }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <ion-text>
              <h2>Body make</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.bodyMake }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <ion-text>
              <h2>Body model</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.bodyModel }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <ion-text>
              <h2>Body type</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.bodyType?.description }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)"
        >
          <ion-label>
            <ion-text>
              <h2>Function code</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.functionCode }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="vehicleData.techRecord.manufactureYear">
          <ion-label>
            <ion-text>
              <h2>Year of manufacture</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.manufactureYear }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.firstUseDate"
        >
          <ion-label>
            <ion-text>
              <h2>Date of first use</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.firstUseDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.regnDate"
        >
          <ion-label>
            <ion-text>
              <h2>Date of first registration</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.regnDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <ion-text>
              <h2>Axles</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.noOfAxles }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <ion-text>
              <h2>
                <ng-container
                  *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV); else dtp"
                >Brake code
                </ng-container>
                <ng-template #dtp>DTP</ng-template>
              </h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>
              {{ commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.PSV) ?
              vehicleData.techRecord.brakeCode : vehicleData.techRecord.brakes?.dtpNumber}}
            </p>
          </div>
        </ion-item>
        <ion-item
          lines="full"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.MOTORCYCLE)"
        >
          <ion-label>
            <ion-text>
              <h2>Number of wheels</h2>
            </ion-text>
          </ion-label>
          <div item-content>
            <p>{{ vehicleData.techRecord.numberOfWheelsDriven || "Not entered" }}</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-list-header class="ion-padding-horizontal">VIEW MORE INFORMATION</ion-list-header>
  <ion-list class="vehicle-list">
    <ion-item detail="true" (click)="goToVehicleTestResultsHistory()">
      <ng-container>
        <ion-label class="ion-activatable">
          <ion-text>
            <h2>
          <span
            *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                      else showVehicleTestHistoryTitle"
          >
            Trailer
          </span>
              <ng-template #showVehicleTestHistoryTitle>
                Vehicle
              </ng-template>
              test history
            </h2>
          </ion-text>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-label>
      </ng-container>
    </ion-item>
    <ion-item
      detail="true"
      *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.PSV, VEHICLE_TYPE.TRL]) && vehicleData.techRecord.brakes"
      (click)="showMoreDetails('VehicleBrakesPage')"
    >
      <ion-label class="ion-activatable">
        <ion-text>
          <h2>Brakes</h2>
        </ion-text>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleWeightsPage')"
    >
      <ion-label class="ion-activatable">
        <ion-text>
          <h2>Weights</h2>
        </ion-text>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleTyresPage')"
    >
      <ion-label class="ion-activatable">
        <ion-text>
          <h2>Tyres</h2>
        </ion-text>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item detail="true" (click)="showMoreDetails('VehicleAdditionalPage')">
      <ion-label class="ion-activatable">
        <ion-text>
          <h2>Additional vehicle details</h2>
        </ion-text>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES) && vehicleData.techRecord.adrDetails"
      (click)="showMoreDetails('VehicleAdrDetailsPage')"
    >
      <ion-label class="ion-activatable">
        <ion-text>
          <h2>ADR Details</h2>
        </ion-text>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
