<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button id="vehicle-details-back-btn" (click)="back()" color="light">
        <ion-icon class="chevron-back ion-no-margin back-button-icon" name="chevron-back"></ion-icon>
        {{ backButtonText }}
      </ion-button>
    </ion-buttons>
    <ion-title id="vehicle-details-title" class="ion-margin-start">
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                            else showVehicleDetailsTitle"
        >
          Trailer details
        </span>
        <ng-template #showVehicleDetailsTitle>
          Vehicle details
        </ng-template>
      </ng-container>
    </ion-title>
    <ion-buttons slot="end"  *ngIf="testData">
      <ion-button
        id="vehicle-details-confirm-btn"
        class="confirm-button"
        (click)="confirmAndStartTest()"
        [ngClass]="{buttonOpacity: changeOpacity}">
        Confirm & Start
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar
    class="provisional-record-toolbar"
    *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL"
  >
    <ion-title class="ion-padding-start">{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding content-background-color-grey">
  <div class="vehicle-header-vrm-number ion-text-uppercase ion-text-center ion-margin-bottom">
    <ng-container
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
      >{{ vehicleData.trailerId }}</ng-container
    >
    <ng-template #isVehicle>{{ this.formattedVrm }}</ng-template>
  </div>

    <ion-list-header>
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, 'trl');
                     else showVehicleSummaryTitle"
        >
          TRAILER SUMMARY
        </span>
        <ng-template #showVehicleSummaryTitle>
          VEHICLE SUMMARY
        </ng-template>
      </ng-container>
    </ion-list-header>
  <ion-list class="vehicle-list">
    <ion-item>
      <ion-label>
        <h2>VIN / Chassis number</h2>
      </ion-label>
      <div>
        <p class="ion-no-margin">{{ vehicleData.vin }}</p>
      </div>
    </ion-item>
    <ng-container>
      <ng-container>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h2>Chassis make</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.chassisMake }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h2>Chassis model</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.chassisModel }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <h2>Make</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.make }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <h2>Model</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.model }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h2>Body make</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.bodyMake }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h2>Body model</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.bodyModel }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h2>Body type</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.bodyType?.description }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)"
        >
          <ion-label>
            <h2>Function code</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.functionCode }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="vehicleData.techRecord.manufactureYear">
          <ion-label>
            <h2>Year of manufacture</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.manufactureYear }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.firstUseDate"
        >
          <ion-label>
            <h2>Date of first use</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.firstUseDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.regnDate"
        >
          <ion-label>
            <h2>Date of first registration</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.regnDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h2>Axles</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.noOfAxles }}</p>
          </div>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h2>
              <ng-container
                *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV); else dtp"
              >Brake code
              </ng-container>
              <ng-template #dtp>DTP</ng-template>
            </h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">
              {{ commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.PSV) ?
              vehicleData.techRecord.brakeCode : vehicleData.techRecord.brakes?.dtpNumber}}
            </p>
          </div>
        </ion-item>
        <ion-item
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.MOTORCYCLE)"
        >
          <ion-label>
            <h2>Number of wheels</h2>
          </ion-label>
          <div>
            <p class="ion-no-margin">{{ vehicleData.techRecord.numberOfWheelsDriven || "Not entered" }}</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-list-header>VIEW MORE INFORMATION</ion-list-header>
  <ion-list class="vehicle-list">
    <ion-item id="vehicle-details-test-history" detail="true" (click)="goToVehicleTestResultsHistory()">
      <ng-container>
        <ion-label class="ion-activatable more-info-item">
          <h2>
            <span
              *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                        else showVehicleTestHistoryTitle"
            >
              Trailer
            </span>
            <ng-template #showVehicleTestHistoryTitle>
              Vehicle
            </ng-template>
            test history
          </h2>
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-label>
      </ng-container>
    </ion-item>
    <ion-item
      id="vehicle-details-brakes"
      detail="true"
      *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.PSV, VEHICLE_TYPE.TRL]) && vehicleData.techRecord.brakes"
      (click)="showMoreDetails('VehicleBrakesPage')"
    >
      <ion-label class="ion-activatable more-info-item">
        <h2>Brakes</h2>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      id="vehicle-details-weights"
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleWeightsPage')"
    >
      <ion-label class="ion-activatable more-info-item">
        <h2>Weights</h2>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      id="vehicle-details-tyres"
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleTyresPage')"
    >
      <ion-label class="ion-activatable more-info-item">
        <h2>Tyres</h2>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item id="vehicle-details-additional-vehicle-details" lines="none" detail="true"
              (click)="showMoreDetails('VehicleAdditionalPage')">
      <ion-label class="ion-activatable more-info-item">
        <h2>Additional vehicle details</h2>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
    <ion-item
      lines="none"
      detail="true"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES) && vehicleData.techRecord.adrDetails"
      (click)="showMoreDetails('VehicleAdrDetailsPage')"
    >
      <ion-label class="ion-activatable more-info-item">
        <h2>ADR Details</h2>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
