<ion-header>
  <ion-toolbar>
    <ion-title class="ion-margin-start">
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                            else showVehicleDetailsTitle"
        >
          Trailer details
        </span>
        <ng-template #showVehicleDetailsTitle>
          Vehicle details
        </ng-template>
      </ng-container>
    </ion-title>
    <ion-buttons class="ion-float-end"  *ngIf="testData">
      <ion-button (click)="goToPreparerPage()" [ngClass]="{buttonOpacity: changeOpacity}">
        Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar
    color="tertiary"
    *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL"
  >
    <ion-title class="ion-padding-start">{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div class="vehicle-header-vrm-number ion-text-capitalize ion-text-center">
    <ng-container
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
      >{{ vehicleData.trailerId }}</ng-container
    >
    <ng-template #isVehicle>{{ vehicleData.vrm | formatVrm }}</ng-template>
  </div>

  <ion-list class="vehicle-list">
    <ion-list-header class="ion-padding-start ion-padding-end">
      <ng-container>
        <span
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, 'trl');
                     else showVehicleSummaryTitle"
        >
          TRAILER SUMMARY
        </span>
        <ng-template #showVehicleSummaryTitle>
          VEHICLE SUMMARY
        </ng-template>
      </ng-container>
    </ion-list-header>
    <ion-item class="ion-margin-start">
      <ion-label>
        <h3>VIN / Chassis number</h3>
      </ion-label>
      <div item-content class="ion-padding-end">
        <p>{{ vehicleData.vin }}</p>
      </div>
    </ion-item>
    <ng-container>
      <ng-container>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h3>Chassis make</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.chassisMake }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h3>Chassis model</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.chassisModel }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <h3>Make</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.make }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.TRL, VEHICLE_TYPE.HGV])"
        >
          <ion-label>
            <h3>Model</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.model }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h3>Body make</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.bodyMake }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
        >
          <ion-label>
            <h3>Body model</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.bodyModel }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h3>Body type</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.bodyType?.description }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)"
        >
          <ion-label>
            <h3>Function code</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.functionCode }}</p>
          </div>
        </ion-item>
        <ion-item class="ion-margin-start" *ngIf="vehicleData.techRecord.manufactureYear">
          <ion-label>
            <h3>Year of manufacture</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.manufactureYear }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.firstUseDate"
        >
          <ion-label>
            <h3>Date of first use</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.firstUseDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="!commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL) && vehicleData.techRecord.regnDate"
        >
          <ion-label>
            <h3>Date of first registration</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.regnDate | date: dateFormat }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h3>Axles</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.noOfAxles }}</p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
        >
          <ion-label>
            <h3>
              <ng-container
                *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV); else dtp"
                >Brake code
              </ng-container>
              <ng-template #dtp>DTP</ng-template>
            </h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>
              {{ commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.PSV) ?
              vehicleData.techRecord.brakeCode : vehicleData.techRecord.brakes?.dtpNumber}}
            </p>
          </div>
        </ion-item>
        <ion-item
          class="ion-margin-start"
          *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.MOTORCYCLE)"
        >
          <ion-label>
            <h3>Number of wheels</h3>
          </ion-label>
          <div item-content class="ion-padding-end">
            <p>{{ vehicleData.techRecord.numberOfWheelsDriven || "Not entered" }}</p>
          </div>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>

  <ion-list class="vehicle-list">
    <ion-list-header class="ion-padding-end ion-padding-start">VIEW MORE INFORMATION</ion-list-header>
    <ion-item button class="ion-padding-start" (click)="goToVehicleTestResultsHistory()">
      <ng-container>
        <h3>
          <span
            *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType, VEHICLE_TYPE.TRL);
                      else showVehicleTestHistoryTitle"
          >
            Trailer
          </span>
          <ng-template #showVehicleTestHistoryTitle>
            Vehicle
          </ng-template>
          test history
        </h3>
      </ng-container>
    </ion-item>
    <ion-item
      button
      class="ion-padding-start"
      *ngIf="commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType,[VEHICLE_TYPE.PSV, VEHICLE_TYPE.TRL]) && vehicleData.techRecord.brakes"
      (click)="showMoreDetails('VehicleBrakesPage')"
    >
      <h3>Brakes</h3>
    </ion-item>
    <ion-item
      button
      class="ion-padding-start"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleWeightsPage')"
    >
      <h3>Weights</h3>
    </ion-item>
    <ion-item
      button
      class="ion-padding-start"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES)"
      (click)="showMoreDetails('VehicleTyresPage')"
    >
      <h3>Tyres</h3>
    </ion-item>
    <ion-item button class="ion-padding-start" (click)="showMoreDetails('VehicleAdditionalPage')">
      <h3>Additional vehicle details</h3>
    </ion-item>
    <ion-item
      button
      class="ion-padding-start"
      *ngIf="!commonFunc.checkForMatchInArray(vehicleData.techRecord.vehicleType, SPECIAL_VEHICLE_TYPES) && vehicleData.techRecord.adrDetails"
      (click)="showMoreDetails('VehicleAdrDetailsPage')"
    >
      <h3>ADR details</h3>
    </ion-item>
  </ion-list>
</ion-content>
