<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="select-vehicle-back-btn" [text]="APP_STRINGS.IDENTIFY_VEHICLE">
      </ion-back-button>
    </ion-buttons>
    <ion-title id="select-vehicle-title" class="ion-margin-start ion-padding-vertical">
      Select Vehicle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background-color-grey ion-no-padding">
  <div class="skeleton-banner" *ngIf="isAtLeastOneSkeleton">
    {{ APP_STRINGS.SKELETON_BANNER }}
  </div>
  <ion-list id="select-vehicle-list">
    <ion-item-divider class="ion-padding-start">
      <ion-label>
        <h3>Multiple vehicles found matching this search</h3>
      </ion-label>
    </ion-item-divider>
    <ion-item
      *ngFor="let vehicle of vehicles; let i = index"
      [id]="'select-vehicle-option-' + (i + 1)"
      detail="true"
      class="full-border ion-activatable"
      lines="none"
      [ngClass]="{'skeleton-button': this.vehicleService.isVehicleSkeleton(vehicle)}"
      (click)="openVehicleDetails(vehicle)">
      <img
        slot="start"
        class="vehicle-type-icon"
        src="./assets/imgs/{{vehicle.techRecord.vehicleType.toLowerCase()}}-icon.svg"
        *ngIf="!this.vehicleService.isVehicleSkeleton(vehicle)"
      />
      <div class="vehicle-detail-content">
        <h2>
          {{ !this.vehicleService.isVehicleSkeleton(vehicle) ? vehicle.techRecord.make ||
          vehicle.techRecord.chassisMake : APP_STRINGS.SKELETON_ALERT_TITLE}}
        </h2>
        <p *ngIf="!this.vehicleService.isVehicleSkeleton(vehicle)">
          {{ vehicle.techRecord.manufactureYear }} , {{ vehicle.techRecord.model ||
        vehicle.techRecord.chassisModel }}
        </p>
        <p *ngIf="this.vehicleService.isVehicleSkeleton(vehicle)">
          {{ APP_STRINGS.SKELETON_INFO }}
        </p>
      </div>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>
