:host {
  ion-item-divider {
    min-height: var(--list-ios-item-height);
  }

  ion-list .input-wrapper ion-label {
    h3 {
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-semi-bold);
    }

    margin: 16px 0;
  }

  [item-start].vehicle-type-icon {
    margin: 8px 16px 8px 16px;
    width: 65px;
  }

  .item[no-lines].full-border {
    border-bottom: 0.5px solid var(--color-grey-2);
    border-top: 0.5px solid var(--color-grey-2);
  }

  .skeleton-banner {
    padding: 16px;
    font-size: var(--font-size-medium);
    color: var(--light);
    //background-color: var(--tertiary);
  }

  .skeleton-button {
    padding-left: 16px;
  }
}
