:host {
  ion-item-divider {
    min-height: var(--list-ios-item-height);

    ion-label {
      h3 {
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }

  //ion-list .input-wrapper ion-label {
  //  h3 {
  //    font-size: var(--font-size-medium-2);
  //    font-weight: var(--font-weight-bold);
  //  }
  //
  //  margin: 16px 0;
  //}

  ion-item {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .vehicle-type-icon {
    margin: 6px 12px 6px 12px;
    width: 65px;
  }

  .full-border {
    border-bottom: 0.5px solid var(--color-grey-2);
    border-top: 0.5px solid var(--color-grey-2);
  }

  .skeleton-banner {
    padding: 16px;
    font-size: var(--font-size-medium);
    color: var(--light);
    //background-color: var(--tertiary);
  }

  .skeleton-button {
    padding-left: 16px;
  }

  .vehicle-detail-content {
    h2 {
      font-size: var(--font-size-medium);
      font-weight: var(--font-weight-normal);
      margin: 5px;
    }

    p {
      font-size: var(--font-size-normal);
      margin: 5px;
    }
  }
}
