:host {
  h3 {
    font-size: var(--font-size-medium);
    color: var(--dark);
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ion-item-divider.defect-heading {
    font-size: 22px;
    color: var(--dark);
    padding-top: 6px;
    padding-bottom: 6px;
    background: var(--color-grey-3);
  }
}
