:host {
  ion-content[no-padding].content-background-color-grey ion-item {
    margin-top: 40px;

    .item-inner {
      padding: 0;
      border-bottom: none;

      ion-input {
        margin-top: 0;
      }
    }
  }

  .custom-input {
    font-weight: 400;
    border: 1px solid var(--color-grey-2);
    border-top: 1px;
    border-bottom: 1px;
    padding: 4px 0 4px 16px;
    background-color: var(--light);

    ::placeholder {
      text-transform: none;
    }
  }

  .header-ios ion-toolbar ion-button {
    font-weight: var(--font-weight-normal);
  }

  ion-list-header {
    border-bottom: none;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);

    ion-label {
      margin-bottom: 0;
    }
  }

  div[item-end] {
    color: var(--color-grey-1);
  }

  [item-end].arrow-forward {
    color: var(--color-grey-1);
    font-size: var(--font-size-medium-2);
    display: flex;
    align-items: center;
  }

  ion-item.ion-padding-start {
    border: 1px solid var(--color-grey-2);

    .item-inner {
      border: none;

      .input-wrapper {
        margin: 11px 0;
      }
    }
  }
}

ion-toolbar ion-button.custom-search-button {
  font-weight: var(--font-weight-bold);
}

.autosize textarea {
  height: 5em;
}
