:host {
  ion-list {
    margin-bottom: 0;

    ion-item {

      h3 {
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-medium);
        color: var(--dark);
        margin-bottom: 16px;
      }
    }
  }

  ion-toolbar.searchbar-toolbar {
    --max-height: 40px;
    --min-height: none;
  }

  ion-item-divider {
    padding-left: 20px;
    background: var(--color-grey-3);
    font-size: var(--font-size-medium);
  }

  .selected {
    color: var(--primary);
  }
}

ion-toolbar ion-button.save-button {
  font-weight: var(--font-weight-bold);
}
