:host {
  ion-list {
    margin-bottom: 0;

    ion-item {
      margin: 0px 8px 0px 0;

      h3 {
        font-size: var(--font-size-medium);
      }
    }
  }

  ion-toolbar.searchbar-toolbar {
    --max-height: 40px;
    --min-height: none;
  }

  ion-item-divider {
    font-size: var(--font-size-medium);
  }

  .selected {
    color: var(--primary);
  }
}
