<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="APP_STRINGS.VEHICLE_DETAILS"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">
      <span>Weights</span>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar
    class="provisional-record-toolbar"
    *ngIf="vehicleData.techRecord.statusCode===TECH_RECORD_STATUS.PROVISIONAL"
  >
    <ion-title class="ion-padding-start">{{ APP_STRINGS.PROVISIONAL_LABEL_TEXT }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding content-background-color-grey">
  <div class="vehicle-header-vrm-number ion-text-capitalize ion-text-center">
    <ng-container
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL); else isVehicle"
      >{{ vehicleData.trailerId }}</ng-container
    >
    <ng-template #isVehicle>{{ vehicleData.vrm | formatVrm }}</ng-template>
  </div>

  <ng-container *ngFor="let axle of vehicleData.techRecord.axles">
    <ion-list-header class="ion-padding-start ion-padding-end">AXLE {{ axle?.axleNumber }}</ion-list-header>
    <ion-list class="vehicle-list">
      <ion-item
        *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
      >
        <ion-label>
          <h2>Kerb</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ axle?.weights?.kerbWeight }}</p>
        </div>
      </ion-item>
      <ion-item
        *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
      >
        <ion-label>
          <h2>Laden</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ axle?.weights?.ladenWeight }}</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>GB</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ axle?.weights?.gbWeight }}</p>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h2>Design</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ axle?.weights?.designWeight }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-list-header class="ion-padding-start ion-padding-end">GROSS</ion-list-header>
  <ion-list class="vehicle-list">
    <ion-item
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h2>Kerb</h2>
      </ion-label>
      <div>
        <p class="ion-no-margin">{{ vehicleData.techRecord.grossKerbWeight }}</p>
      </div>
    </ion-item>
    <ion-item
      *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)"
    >
      <ion-label>
        <h2>Laden</h2>
      </ion-label>
      <div>
        <p class="ion-no-margin">{{ vehicleData.techRecord.grossLadenWeight }}</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>GB</h2>
      </ion-label>
      <div>
        <p class="ion-no-margin">{{ vehicleData.techRecord.grossGbWeight }}</p>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h2>Design</h2>
      </ion-label>
      <div>
        <p class="ion-no-margin">{{ vehicleData.techRecord.grossDesignWeight }}</p>
      </div>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)">
    <ion-list-header class="ion-padding-start ion-padding-end">TRAIN</ion-list-header>
    <ion-list class="vehicle-list">
      <ion-item>
        <ion-label>
          <h2>GB</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.trainGbWeight }}</p>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <h2>Design</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.trainDesignWeight }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.HGV)">
    <ion-list-header class="ion-padding-start ion-padding-end">MAX TRAIN</ion-list-header>
    <ion-list class="vehicle-list">
      <ion-item>
        <ion-label>
          <h2>GB</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.maxTrainGbWeight }}</p>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <h2>Design</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.maxTrainDesignWeight }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.TRL)">
    <ion-list-header></ion-list-header>
    <ion-list class="vehicle-list ion ion-margin-bottom">
      <ion-item lines="none">
        <ion-label>
          <h2>Max load on coupling</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.maxLoadOnCoupling }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="commonFunc.checkForMatch(vehicleData.techRecord.vehicleType,VEHICLE_TYPE.PSV)">
    <ion-list-header class="ion-padding-start ion-padding-end">UNLADEN</ion-list-header>
    <ion-list class="vehicle-list ion-margin-bottom">
      <ion-item>
        <ion-label>
          <h2>Kerb</h2>
        </ion-label>
        <div>
          <p class="ion-no-margin">{{ vehicleData.techRecord.unladenWeight }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
