<ion-header>
  <ion-toolbar>
    <ion-title id="test-page-title" class="ion-margin-start">
      Test
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        id="test-page-review-and-submit-btn"
        class="review-and-submit-button"
        [ngClass]="{buttonOpacity: changeOpacity}"
        (click)="reviewTest()"
      >
        Review and submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding content-background-color-grey">
  <div class="error-banner" *ngIf="errorIncomplete && !allVehiclesCompletelyTested">
    {{TEST_CREATE_ERROR_BANNER}}
  </div>
  <ion-list
    class="full-dividers-list"
    [ngClass]="{'accessibility-max-width':appService.isAccessibilityTextZoomEnabled()}"
  >
    <ion-card class="card" *ngFor="let vehicle of testData.vehicles; let i = index">
      <ion-item id="test-page-vehicle-details" class="ion-item-title ion-activatable" lines="none"
                (click)="onVehicleDetails(vehicle)">
        <img
          slot="start"
          class="vehicle-type-icon"
          src="./assets/imgs/{{getVehicleTypeIconToShow(vehicle)}}-icon.svg"
        />
        <ion-label class="vehicle-detail-content">
          <h2 *ngIf="vehicle.techRecord.vehicleType !== VEHICLE_TYPE.TRL">
            <span class="ion-text-uppercase">{{ vehicle.vrm }}</span>
            <span
              class="ion-text-uppercase"
              *ngIf="vehicle.techRecord.vehicleType !== VEHICLE_TYPE.CAR &&
                         vehicle.techRecord.vehicleType !== VEHICLE_TYPE.MOTORCYCLE"
              >({{vehicle.techRecord.vehicleType}})
            </span>
            <span
              class="ion-text-uppercase"
              *ngIf="vehicle.techRecord.vehicleType === VEHICLE_TYPE.CAR ||
                         vehicle.techRecord.vehicleType === VEHICLE_TYPE.MOTORCYCLE"
              >({{vehicle.techRecord.vehicleType}})
            </span>
          </h2>
          <h2 *ngIf="vehicle.techRecord.vehicleType === VEHICLE_TYPE.TRL">
            {{ vehicle.trailerId }} (Trailer)
          </h2>
          <p class="vehicle-vin">{{ vehicle.vin }}</p>
        </ion-label>
        <div class="details color-grey-1">Details</div>
        <ion-icon class="chevron-forward small-icon ion-no-margin" slot="end" name="chevron-forward"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
      <ion-item
        id="country-of-registration"
        class="bottom-divider ion-activatable"
        lines="none"
        (click)="onCountryOfRegistration(vehicle)"
      >
        <ion-label>Country of registration</ion-label>
        <div
          class="details dark"
          [ngClass]="{'accessibility-no-margin': appService.isAccessibilityTextZoomEnabled()}"
        >
          {{getCountryStringToBeDisplayed(vehicle)}}
        </div>
        <ion-icon class="chevron-forward small-icon ion-no-margin" slot="end" name="chevron-forward"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
      <ion-item
        id="eu-vehicle-category"
        class="bottom-divider ion-no-margin ion-activatable"
        lines="none"
        [ngClass]="{'error-incomplete-item': errorIncomplete && !vehicle.euVehicleCategory}"
        (click)="onVehicleCategory(vehicle)"
      >
        <ion-label>EU vehicle category</ion-label>
        <div class="details" *ngIf="!vehicle.euVehicleCategory">Select</div>
        <div
          class="details ion-text-uppercase dark"
          *ngIf="vehicle.euVehicleCategory"
        >
          {{displayVehicleCategoryKey(vehicle.euVehicleCategory)}}
        </div>
        <ion-icon
          class="small-icon ion-no-margin"
          slot="end"
          [ngClass]="{'vehicle-category-icon-data': vehicle.euVehicleCategory,
                          'chevron-forward': !vehicle.euVehicleCategory}"
          [name]="vehicle.euVehicleCategory ? 'checkmark' : 'chevron-forward'"
        ></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
      <ion-item
        id="odometer-reading"
        class="bottom-divider ion-activatable"
        lines="none"
        [ngClass]="{'error-incomplete-item': errorIncomplete && !vehicle.odometerReading}"
        (click)="onOdometer(i)"
        *ngIf="!isVehicleOfType(vehicle,VEHICLE_TYPE.TRL)"
      >
        <ion-label>Odometer reading</ion-label>
        <div
          class="details color-grey-1"
          [ngClass]="{'odometer-reading-start': !doesOdometerDataExist(i)}"
        >
          {{getOdometerStringToBeDisplayed(i)}}
        </div>
        <ion-icon
          class="odometer-reading-icon small-icon ion-no-margin"
          slot="end"
          [ngClass]="{'odometer-reading-icon-data': doesOdometerDataExist(i), 'odometer-reading-icon-no-data': !doesOdometerDataExist(i)}"
          [name]="doesOdometerDataExist(i) ? 'checkmark' : 'chevron-forward'"
        ></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
      <ng-container class="full-dividers-list">
        <ion-item-sliding *ngFor="let vehicleTest of vehicle.testTypes" #slidingItem>
          <ion-item
            (click)="openTest(vehicle, vehicleTest)"
            class="bottom-divider ion-activatable"
            lines="none"
            [ngClass]="{'error-incomplete-item': errorIncomplete && getTestTypeStatus(vehicle, vehicleTest) === commonFunc.capitalizeString(testCompletionStatus.IN_PROGRESS)}"
          >
              <ion-label class="test-type">{{ vehicleTest.testTypeCategoryName }}</ion-label>
              <ng-container *ngIf="isTestAbandoned(vehicleTest)">
                <p class="abandoned-test test-result ion-text-uppercase">
                  Abandoned
                </p>
              </ng-container>
              <div
                class="details color-grey-1"
                [ngClass]="{'test-type-inProgress': getTestTypeStatus(vehicle, vehicleTest) !== commonFunc.capitalizeString(testCompletionStatus.EDIT)}"
                *ngIf="!isTestAbandoned(vehicleTest)"
              >
                {{getTestTypeStatus(vehicle, vehicleTest)}}
              </div>
            <ion-icon
              class="odometer-reading-icon small-icon ion-no-margin"
              slot="end"
              [ngClass]="{'odometer-reading-icon-data': getTestTypeStatus(vehicle, vehicleTest) === commonFunc.capitalizeString(testCompletionStatus.EDIT),
                                  'odometer-reading-icon-no-data': getTestTypeStatus(vehicle, vehicleTest) !== commonFunc.capitalizeString(testCompletionStatus.EDIT),
                                  'accessibility-no-margin-left': appService.isAccessibilityTextZoomEnabled()}"
              [name]="getTestTypeStatus(vehicle, vehicleTest) === commonFunc.capitalizeString(testCompletionStatus.EDIT) ? 'checkmark' : 'chevron-forward'"
              *ngIf="!isTestAbandoned(vehicleTest)"
            ></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-item>
          <ion-item-options *ngIf="!isTestAbandoned(vehicleTest)">
            <ion-item-option
              color="dark"
              (click)="onAbandonVehicleTest(vehicle.techRecord.vehicleType, vehicleTest)">
              Abandon
            </ion-item-option>
            <ion-item-option
              color="danger"
              (click)="onRemoveVehicleTest(vehicle, vehicleTest, slidingItem)">
              Remove
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>

      <ion-item
        id="add-test-type-btn"
        class="btn-add-test ion-activatable"
        lines="none"
        (click)="onAddNewTestType(vehicle)"
        [ngClass]="{'bottom-divider': vehicle.testTypes.length === 0}"
      >
        <ion-label *ngIf="vehicle.testTypes.length === 0">Add a test type</ion-label>
        <ion-label *ngIf="vehicle.testTypes.length !== 0">Add a linked test</ion-label>
        <ion-icon class="large-icon ion-no-margin" aria-hidden="true" name="add-circle-outline" slot="end"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-card>

    <ion-card class="card" *ngIf="displayAddVehicleButton">
      <ion-item
        id="add-trailer-or-vehicle-btn"
        class="btn-add-test ion-activatable"
        lines="none"
        (click)="addTrailer(visitService.visit.tests)"
      >
        <ion-label>Add a {{doesHgvLgvExist ? "trailer" : "vehicle"}}</ion-label>
        <ion-icon class="large-icon ion-no-margin" aria-hidden="true" name="add-circle-outline" slot="end"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="gray-toolbar">
    <ion-buttons slot="start"> </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="test-page-cancel-test-btn" color="danger" (click)="onCancel()">Cancel test</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
