:host {
  ion-button {
    font-weight: var(--font-weight-bold);
  }

  .advisory-item-status {
    font-weight: bold;
    font-size: 19px;
    color: var(--dark);
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .advisory-item-name {
    font-weight: 500;
    color: var(--dark);
    margin-top: 8px;
    margin-bottom: 10px;
  }

  ion-badge {
    color: var(--dark);
    border: 1px solid var(--dark);
    background-color: transparent;
  }

  .btn-remove-advisory {
    font-size: 16px;
    color: var(--danger);
  }
}
