:host {
  [padding] .scroll-content {
    padding-top: 0;
  }

  .label-custom-style {
    color: var(--dark);
  }

  .value-custom-style {
    color: var(--color-grey-1);
  }

  .number-custom-style {
    font-size: var(--item-ios-divider-font-size);
    color: var(--primary);
    border-bottom: 0.55px solid var(--color-grey-2);
  }

  ion-item-divider {
    padding-left: 20px;
    background: var(--color-grey-3);
    border-bottom: 0.55px solid var(--color-grey-2);
  }
}

.accessibility-limit-message-height .alert-message {
  max-height: 115px;
}

ion-item.accessibility-display-flex-column ion-label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

ion-toolbar ion-button.start-visit-button {
  font-weight: var(--font-weight-bold);
}
