<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="appStrings.DEFECT_CAT"></ion-back-button>
    </ion-buttons>
    <ion-title class="margin-left-half">
      Defect item
    </ion-title>
  </ion-toolbar>
  <ion-searchbar
    (ionInput)="searchList($event)"
    [(ngModel)]="searchVal"
    showCancelButton="focus"
    [placeholder]="appStrings.PLACEHOLDER_DEFECT_ITEM"
    #searchBar
  >
  </ion-searchbar>
</ion-header>

<ion-content class="ion-no-padding content-background-color-grey">
  <ion-list class="ion-text-wrap" *ngIf="filteredItems.length > 0">
    <ion-item-divider class="defect-heading">
      {{ category.imNumber }}. {{ category.imDescription }}
    </ion-item-divider>
    <ion-item
      detail="true"
      class="list-item-height ion-activatable"
      *ngFor="let item of filteredItems | byVehicleType: vehicleType; let last = last"
      [lines]="last ? 'none' : 'inset'"
      (click)="selectItem(item)"
    >
      <span>
        <h3>{{ item.itemNumber }}. {{ item.itemDescription }}</h3>
      </span>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>
  </ion-list>

  <div *ngIf="filteredItems.length === 0" class="no-result">
    <h3>No results found</h3>
    <span>Try searching for a different term or</span>
    <span>picking from the list</span>
  </div>
</ion-content>
