:host {
  ion-toolbar {
    ion-button {
      font-weight: var(--font-weight-bold);
    }
  }

  .item-divider-ios {
    font-size: var(--font-size-small);
    text-transform: none;
  }

  ion-content {
    ion-item-divider {
      background: var(--color-grey-3);
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 20px;
    }
    .selected {
      --detail-icon-color: var(--primary);
      --detail-icon-opacity: 1;
    }

    .checkbox-list {
      .label-ios {
        margin: 16px 28px 16px 0;
      }
    }
  }
}
